* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d6e2f0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 300px;
  background-color: #fff;
  padding: 15px 25px 40px;
  border-radius: 18px;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.qr-code {
  width: 270px;
  border-radius: 10px;
}

.head-para {
  color: #1f3251;
  font-size: 21px;
  text-align: center;
  font-family: "Outfit";
  font-weight: 700;
  margin-bottom: 15px;
}

.sub-para {
  color: #7b879d;
  font-size: 15px;
  text-align: center;
  font-family: "Outfit";
  font-weight: 400;
}
